/* fonts family */
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNovaCond-Bold.eot');
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 2rem;
  background-color: #fcb303;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.2;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/* Оформление формы */
.form {
  /*Поля для ввода*/
  /*Подписи к полям*/
  /*Кнопка отправить*/
}
.form-input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.2rem;
}
.form label {
  display: inline-block;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* border: 1px solid red; */
}
.form-btn {
  border: none;
  background-color: #fcb303;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}
/* Typography */
section {
  padding: 10rem 0;
}
.phone-block {
  text-align: right;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header h2 {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.section-header-light {
  color: #fff;
}
.section-header p {
  font-size: 1.4rem;
}
/* main */
.main {
  padding: 2rem 0 4rem;
  background: url(../img/main-bg2.jpg) center center no-repeat;
  background-size: cover;
}
.main-contant {
  margin-top: 9rem;
}
.main-contant h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-subtitle {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.main span {
  display: inline-block;
  padding: 2rem 4rem;
  text-align: center;
  font-size: 1.8rem;
  background-color: #46b814;
  color: #fff;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  display: block;
  text-transform: uppercase;
  padding-top: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  display: block;
  background-color: #fff;
  padding: 4rem 5rem;
  text-align: center;
  /*Заголовок формы*/
}
.main-form-header {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 2rem;
}
.main-form small {
  display: block;
  padding: 0.8rem;
}
.header {
  height: 7rem;
}
/* .wrap {
	display: table;
	width: 100%;
	height: 7rem;
	&-block {
		display: table-cell;
		vertical-align: middle;
	}
}  */
.wrap {
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: flex-end;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #1a1820;
  height: 7rem;
  line-height: 7rem;
}
/* Оформление секции с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin: 4rem 0 2rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img img {
  height: 7rem;
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.prev {
  position: absolute;
  z-index: 99;
  height: 2rem;
  width: 2rem;
  border: none;
  top: 50%;
  transform: scaleY(-50%);
}
.left-btn {
  left: 0;
  background: url(../img/leftArrow.svg) center no-repeat;
  background-size: 70%;
}
.right-btn {
  right: 0;
  background: url(../img/rightArrow.svg) center no-repeat;
  background-size: 70%;
}
/* Оформление модального окна */
.price {
  background: #46b814 url(../img/Green-Background-07-1024x681.jpg) center no-repeat;
  background-size: cover;
  /* Карточка с тарифами */
  /* 	&-owerlo-btn {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
} */
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem;
  min-height: 50rem;
  background-color: #fff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block img {
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.9rem;
}
.price-tag strong {
  font-family: 'ProximaNova_bold', sans-serif;
}
.price h4 {
  margin: 2rem 0;
  font-size: 1.7rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  padding: 0;
  font-size: 1.3rem;
  min-height: 12rem;
  text-align: center;
  line-height: 1.9rem;
}
.price-list li {
  list-style: none;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/checked_Images/checked_ImgID1.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/* Оформление сеrции отзовы */
.feedback {
  position: relative;
  background: url(../img/feedBack/feedback_bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback .section-header {
  margin-bottom: 7rem;
}
.feedback-prev-btn {
  left: -3rem;
}
.feedback-next-btn {
  right: -3rem;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 4rem;
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  background-color: #fff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider .media img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 4rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback .main-form {
  margin-top: 10rem;
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 25%;
}
.feedback-form {
  margin-top: 3rem;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.feedback-form label {
  transform: translateX(-50%) translateY(16%);
}
.feedback-form button {
  max-width: 30rem;
}
/* Схема работы */
.scheme {
  background: #fff url('../img/scheme/bg.png') bottom -10rem right -10rem no-repeat;
  background-size: 60rem;
  padding-bottom: 0;
}
.scheme-block {
  min-height: 30rem;
}
.scheme h3 {
  font-family: 'ProximaNova_bold', sans-serif;
}
/* Блок все на 100% */
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #46b814;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
  color: #f5f5f5;
}
/*Мыразвеем все опасения*/
.problems {
  position: relative;
}
.problems-woman {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30rem;
  margin-left: -19rem;
}
.problems-list {
  border: 2px solid #1a1820;
  padding: 2rem;
  min-height: 32rem;
}
.problems-list h4 {
  color: #2e2e2e;
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  list-style: none;
  padding: 2rem;
  padding-left: 0;
}
.problems-list ul li {
  margin-bottom: 3rem;
  position: relative;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #dcd7d6;
  padding-bottom: 0;
}
.problems-list_bad li:last-child {
  margin-bottom: 0;
}
.problems-list_bad ul li:before {
  background: url(../img/problem/bad.svg) center no-repeat;
  background-size: 70%;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_good {
  padding-bottom: 0;
  border-color: #46b814;
}
.problems-list_good li:last-child {
  margin-bottom: 0;
}
.problems-list_good ul li:before {
  background: url(../img/problem/good.svg) center no-repeat;
}
/*Материалы*/
.materials {
  background: url(../img/materials/bg.jpg) center no-repeat;
  background-size: cover;
}
.materials-slider {
  margin-top: 5rem;
}
.materials-link {
  color: #46b814;
  border-bottom: 1px dotted #46b814;
}
.materials-link:hover {
  color: #348a0f;
}
.materials-footer {
  margin: 4rem;
}
.materials img {
  display: block;
  margin: 0 auto;
}
/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  padding: 2rem 4rem;
  background-color: #fff;
  text-align: center;
}
.popup-form {
  margin-top: 2rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #fff;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
/* media */
@media (max-width: 1199px) {
  .header-btn {
    font-size: 1.2rem;
  }
  .fedback-form {
    padding: 2rem 5rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .header-btn {
    font-size: 1.2rem;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .main-contant {
    margin-top: 3rem;
  }
  .main {
    background-position: top right;
  }
  .price {
    padding-top: 5rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header-light {
    margin-bottom: 0;
  }
  .fotorama {
    margin-bottom: 2rem;
  }
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems-woman {
    display: none;
  }
  .problems-list {
    min-height: 30rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 2.5rem;
  }
  .header {
    text-align: center;
  }
  .wrap {
    justify-content: center;
  }
  .header-btn {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  .main-title {
    margin-top: 10rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 30rem;
  }
}
@media (max-width: 451px) {
  .main-form-header {
    font-size: 1.3rem;
  }
  .section-header {
    text-align: center;
  }
}
